# {{ ansible_managed }}
[Unit]
Description=rsync backup from {{ rsync_backup_source_paths | join(',') }} to {{ rsync_backup_target_path }}
StartLimitBurst=16
StartLimitIntervalSec=12h

[Service]
SuccessExitStatus={{ rsync_backup_allowed_return_codes | join(' ') }}
{% if rsync_backup_mount_pre -%}
	ExecStartPre=/bin/sh -c '/bin/mkdir -p "{{ rsync_backup_target_path }}" && /bin/mount "{{ rsync_backup_target_path }}"'
{%- endif %}

ExecStart=/bin/sh -c '/usr/bin/rsync
{%- if rsync_backup_short_flags | length > 0 -%}
	{{ " -" }}{{ rsync_backup_short_flags | join() }}
{%- endif -%}
{%- for flag in rsync_backup_flags -%}
	 {{ " " }}--{{ flag }}
{%- endfor %}
{%- for exclude in rsync_backup_excludes -%}
	 {{ " " }}--exclude="{{ exclude }}"
{%- endfor -%}
{{ " " }}"{{ rsync_backup_source_paths | join('" "') }}" "{{ rsync_backup_target_path }}" && sync'
{% if rsync_backup_umount_post -%}
	ExecStopPost=/bin/umount "{{ rsync_backup_target_path }}"
{%- endif %}

Restart=on-failure
RestartSec=30min
